<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="/">
    <img src="assets/logo-nav@2x.png" alt=""/>
  </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" routerLink ="/features">FEATURES<span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item active">
       <a class="nav-link" routerLink ="/docs">DOCS</a>
     </li>
     <li class="nav-item active">
       <a class="nav-link" routerLink ="/resources">RESOURCES</a>
     </li>
     <li class="nav-item active">
       <a class="nav-link" routerLink ="/events">EVENTS</a>
     </li>
     <li class="nav-item active">
      <a class="nav-link" routerLink ="/blog">BLOG</a>
    </li>
   </ul>
   <form class="form-inline my-2 my-lg-0">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   </form>
    <a href="https://twitter.com/angular">
     <img src="assets/twitter.png" title="Twitter">
    </a>
    <a href="https://github.com/angular/angular">
     <img src="assets/github-logo.png" title="Github">
   </a>
 </div>
 <div>

 </div>
</nav>