<div class="container-fluid">
  <div class="row">
      <div class="headerimage">
        </div>
        <div id="backshape">
          <div class="wrapper">
           <!--Contenedor principal-->
            <div class="container">
              <div class="row">
                <div class="offset-1">
                </div> 
                <div class="col-md-5">
                    <img src="assets/logo.png" alt=""/>
                </div>
                <div class="col-md-5">
                  <h2>One Framework.</h2>
                  <h2>Mobile & Desktop</h2>
                  <button href="#">GET STARTED</button>
                </div>
                <div class="offset-1">
                  </div> 
              </div>
              <!---Card 0-->
              <div class="row">
                <div class="offset-2">
                </div>
                <div class="col-md-8">
                    <section>
                        <div class="container py-3">
                          <div class="card">
                            <div class="row ">
                              <div class="col-md-4">
                                  <img src="assets/angular-mix.png" class="w-100">
                                </div>
                                <div class="col-md-8 px-3">
                                  <div class="card-block px-3">
                                    <h4 class="card-title">
                                      Join us for Angular Mix
                                        October 10th-12th, 2018
                                    </h4>
                                    <p class="card-text">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target.
                                       For web, mobile web, native mobile and native desktop.</p>
                                  </div>
                                </div>
                      
                              </div>
                            </div>
                          </div>
                      </section>

                </div>
                <div class="offset-2">
                </div>
              </div>
              <!--Card 1-->
              <div class="row">
                <div class="offset-1">
                  </div> 
                  <div class="col-md-10">
                      <section>
                          <div class="container py-3">
                            <div class="card">
                              <div class="row ">
                                <div class="col-md-4">
                                    <img src="assets/dev.png" class="w-100">
                                  </div>
                                  <div class="col-md-8 px-3">
                                    <div class="card-block px-3">
                                      <h4 class="card-title">
                                          DEVELOP ACROSS ALL PLATFORMS
                                      </h4>
                                      <p class="card-text">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target.
                                         For web, mobile web, native mobile and native desktop.</p>
                                    </div>
                                  </div>
                        
                                </div>
                              </div>
                            </div>
                        </section>
                  </div>
                <div class="offset-1">
                </div>
             </div>
            <!--Card 2-->
            <div class="row">
                <div class="offset-1">
                  </div> 
                  <div class="col-md-10">
                      <section>
                          <div class="container py-3">
                            <div class="card">
                              <div class="row ">
                                
                                  <div class="col-md-8 px-3">
                                    <div class="card-block px-3">
                                      <h4 class="card-title">SPEED & PERFORMANCE</h4>
                                      <p class="card-text">Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.</p>

                                     <p class="card-text">Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.</p>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                      <img src="assets/rendimiento.png" class="w-100">
                                  </div>
                        
                                </div>
                              </div>
                            </div>
                        </section>
                  </div>
                <div class="offset-1">
                </div>
             </div>

            <!--Card 3-->
            <div class="row">
                <div class="offset-1">
                  </div> 
                  <div class="col-md-10">
                      <section>
                          <div class="container py-3">
                            <div class="card">
                              <div class="row ">
                                <div class="col-md-4">
                                    <img src="assets/joyful-development.svg" class="w-100">
                                  </div>
                                  <div class="col-md-8 px-3">
                                    <div class="card-block px-3">
                                      <h4 class="card-title">INCREDIBLE TOOLING</h4>
                                      <p class="card-text">Build features quickly with simple, declarative templates.</p> 
                                      <p class="card-text">Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building
                                           amazing apps rather than trying to make the code work.</p>
                                    </div>
                                  </div>
                        
                                </div>
                              </div>
                            </div>
                        </section>
                  </div>
                <div class="offset-1">
                </div>
             </div>
            <!--Card 4-->
            <div class="row">
                <div class="offset-1">
                  </div> 
                  <div class="col-md-10">
                      <section>
                          <div class="container py-3">
                            <div class="card">
                              <div class="row ">
                                  <div class="col-md-8 px-3">
                                    <div class="card-block px-3">
                                      <h4 class="card-title">LOVED BY MILLIONS</h4>
                                      <p class="card-text">From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.</p>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                      <img src="assets/loved.jpg" class="w-100">
                                  </div>
                                </div>
                              </div>
                            </div>
                        </section>
                  </div>
                <div class="offset-1">
                </div>
             </div>
             <!--Card 5-->
             <div class="row">
               <div class="offset-3">
               </div>
               <div class="col-md-6">
                  <section>
                      <div class="container py-3">
                        <div class="card">
                          <div class="row ">
                              <div class="col-md-4">
                                  <img src="assets/code.png" class="w-100">
                              </div>
                              <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                  <a href=""><h4 class="card-title" >GET STARTED </h4></a>
                                  <p class="card-text">Start building your 
                                    Angular application
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section>
               </div>
               <div class="offset-3">
              </div>
             </div>    
          </div>
        </div>
  </div>
</div>




